* {
    transition: all 300ms ease-in-out;
}

.ctrls {
    align-items: center;
}

section {
    align-content: center;
}

.music {
    align-items: center;
}

a {
    text-decoration: underline;
    align-items: center;
}

#dwnl a{
    text-decoration: none;
}

header{
    background: url(./bg.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: darken;
}

header a{
    margin-bottom: 2px;
    text-decoration: none;
}

header div{
    word-spacing: 20px;
    align-content: center;
}

td{
    font-size: 1rem;
    font-weight: 600;
    padding-right: 50px;
}

label{
    margin-left: 7px;
    margin-bottom: 15px;
    font-weight: 600;
}

.suggest:open > .suggestion{
    display: none;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.day {
    padding: 10px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    /* padding: 5px 50px; */
}

.day:hover {
    background: rgb(12, 13, 28);
}

.day.today {
    background-color: #002fff;
    color: #fff;
    text-align: center;
}

.read {
    color: rgb(201, 200, 200);
}

.period {
    color: rgb(17, 205, 133);
}

l:hover {
    background: #384142;
    color: #fff;
}

.days {
    grid-template-columns: repeat(8, 1fr);
}


footer p a:hover, header a:hover {
    margin-left: 10px;
    border-bottom: 1px solid;
    color: white;
}

footer p{
    word-spacing: 15px;
}

/* ---------------------------------------------animation--------------------------------------------- */
.loading{
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: load 5s ease-in-out;
}

@keyframes load {
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}

/* ---------------------------------------------size--------------------------------------------- */
@media (max-width: 40rem) {
    header{
        position: fixed;
        top: 0;
        width: 100%;
    }
    header a{
        background: #b9f8cf;
        padding-left: 10px;
    }
    header div{
        word-spacing: 10px;
    }

    .day{
        padding: 5px 0px;
    }

    .days {
        grid-template-columns: repeat(8, .2fr);
    }

    td{
        padding-right: 0;
    }

    #check:checked ~ div{
        display: initial;
        display: flex;
        flex-direction: column;
    }
    footer div p{
        word-spacing: 20px;
    }
}